@charset "UTF-8";

@font-face {

    font-family: "untitled-font-1";
    src:url("http://127.0.0.1/pirna_db/structure/fonts/untitled-font-1.eot");
    src:url("http://127.0.0.1/pirna_db/structure/fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),

    url("http://127.0.0.1/pirna_db/structure/fonts/untitled-font-1.woff") format("woff"),
    url("http://127.0.0.1/pirna_db/structure/fonts/untitled-font-1.ttf") format("truetype"),
    url("http://127.0.0.1/pirna_db/structure/fonts/untitled-font-1.svg#untitled-font-1") format("svg");

    font-weight: normal;
    font-style: normal;

}

.icon-05em {
    font-size: 0.5em;   
}
.icon-10em {
    font-size: 1em; 
}
.icon-15em {
    font-size: 1.5em;   
}
.icon-20em {
    font-size: 2em; 
}
.icon-25em {
    font-size: 2.5em;   
}
.icon-30em {
    font-size: 3em; 
}
.icon-35em {
    font-size: 3.5em;   
}
.icon-40em {
    font-size: 4em; 
}
.icon-160em {
  font-size: 16em;
}

.icon-blue {
    color: #245580; 
}
.icon-gray {
    color: #CCCCCC;
}
.icon-orange {
    color: #E38D13;
}
.icon-red {
    color: #B92C28;
}
.icon-green {
    color: #3E8F3E; 
}

[data-icon]:before {
    font-family: "untitled-font-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
    content: "a";
}
.icon-arrow-down:before {
    content: "b";
}
.icon-arrow-left:before {
    content: "c";
}
.icon-arrow-right:before {
    content: "d";
}
.icon-arrow-up:before {
    content: "e";
}
.icon-book:before {
    content: "f";
}
.icon-bookmark:before {
    content: "g";
}
.icon-briefcase:before {
    content: "h";
}
.icon-browser:before {
    content: "i";
}
.icon-bug:before {
    content: "j";
}
.icon-calendar:before {
    content: "k";
}
.icon-check:before {
    content: "l";
}
.icon-checklist:before {
    content: "m";
}
.icon-chevron-down:before {
    content: "n";
}
.icon-chevron-left:before {
    content: "o";
}
.icon-chevron-right:before {
    content: "p";
}
.icon-chevron-up:before {
    content: "q";
}
.icon-circle-slash:before {
    content: "r";
}
.icon-clippy:before {
    content: "s";
}
.icon-clock:before {
    content: "t";
}
.icon-cloud-download:before {
    content: "u";
}
.icon-cloud-upload:before {
    content: "v";
}
.icon-code:before {
    content: "w";
}
.icon-comment:before {
    content: "x";
}
.icon-comment-discussion:before {
    content: "y";
}
.icon-credit-card:before {
    content: "z";
}
.icon-dashboard:before {
    content: "A";
}
.icon-database:before {
    content: "B";
}
.icon-device-camera:before {
    content: "C";
}
.icon-device-desktop:before {
    content: "D";
}
.icon-device-mobile:before {
    content: "E";
}
.icon-diff-added:before {
    content: "F";
}
.icon-diff-removed:before {
    content: "G";
}
.icon-diff-ignored:before {
    content: "H";
}
.icon-diff-modified:before {
    content: "I";
}
.icon-diff-renamed:before {
    content: "J";
}
.icon-ellipsis:before {
    content: "K";
}
.icon-eye:before {
    content: "L";
}
.icon-file-binary:before {
    content: "M";
}
.icon-file-directory:before {
    content: "N";
}
.icon-file-media:before {
    content: "O";
}
.icon-file-pdf:before {
    content: "P";
}
.icon-file-text:before {
    content: "Q";
}
.icon-gear:before {
    content: "R";
}
.icon-gift:before {
    content: "S";
}
.icon-gist-secret:before {
    content: "T";
}
.icon-globe:before {
    content: "U";
}
.icon-graph:before {
    content: "V";
}
.icon-heart:before {
    content: "W";
}
.icon-home:before {
    content: "X";
}
.icon-hourglass:before {
    content: "Y";
}
.icon-info:before {
    content: "Z";
}
.icon-issue-closed:before {
    content: "0";
}
.icon-issue-opened:before {
    content: "1";
}
.icon-issue-reopened:before {
    content: "2";
}
.icon-key:before {
    content: "3";
}
.icon-link:before {
    content: "4";
}
.icon-link-external:before {
    content: "5";
}
.icon-list-ordered:before {
    content: "6";
}
.icon-list-unordered:before {
    content: "7";
}
.icon-location:before {
    content: "8";
}
.icon-lock:before {
    content: "9";
}
.icon-mail:before {
    content: "!";
}
.icon-mail-read:before {
    content: "\"";
}
.icon-mention:before {
    content: "#";
}
.icon-megaphone:before {
    content: "$";
}
.icon-mute:before {
    content: "%";
}
.icon-organization:before {
    content: "&";
}
.icon-package:before {
    content: "'";
}
.icon-paintcan:before {
    content: "(";
}
.icon-pencil:before {
    content: ")";
}
.icon-person:before {
    content: "*";
}
.icon-pin:before {
    content: "+";
}
.icon-playback-fast-forward:before {
    content: ",";
}
.icon-playback-rewind:before {
    content: "-";
}
.icon-playback-pause:before {
    content: ".";
}
.icon-playback-play:before {
    content: "/";
}
.icon-plus:before {
    content: ":";
}
.icon-dash:before {
    content: ";";
}
.icon-primitive-dot:before {
    content: "<";
}
.icon-primitive-square:before {
    content: "=";
}
.icon-pulse:before {
    content: ">";
}
.icon-question:before {
    content: "?";
}
.icon-quote:before {
    content: "@";
}
.icon-search:before {
    content: "[";
}
.icon-settings:before {
    content: "]";
}
.icon-sign-in:before {
    content: "^";
}
.icon-sign-out:before {
    content: "_";
}
.icon-star:before {
    content: "`";
}
.icon-stop:before {
    content: "{";
}
.icon-sync:before {
    content: "|";
}
.icon-tag:before {
    content: "}";
}
.icon-terminal:before {
    content: "~";
}
.icon-three-bars:before {
    content: "\\";
}
.icon-tools:before {
    content: "\e000";
}
.icon-trashcan:before {
    content: "\e001";
}
.icon-triangle-down:before {
    content: "\e002";
}
.icon-triangle-left:before {
    content: "\e003";
}
.icon-triangle-right:before {
    content: "\e004";
}
.icon-triangle-up:before {
    content: "\e005";
}
.icon-unmute:before {
    content: "\e006";
}
.icon-x:before {
    content: "\e007";
}
.icon-zap:before {
    content: "\e008";
}
.icon-asterisk:before {
    content: "\e009";
}
.icon-checkbox:before {
    content: "\e00a";
}
.icon-check-1:before {
    content: "\e00b";
}
.icon-dollar:before {
    content: "\e00c";
}
.icon-dollar-bill:before {
    content: "\e00d";
}
.icon-female-symbol:before {
    content: "\e00e";
}
.icon-filter:before {
    content: "\e00f";
}
.icon-flag:before {
    content: "\e010";
}
.icon-folder:before {
    content: "\e011";
}
.icon-folder-add:before {
    content: "\e012";
}
.icon-folder-lock:before {
    content: "\e013";
}
.icon-graph-bar:before {
    content: "\e014";
}
.icon-graph-horizontal:before {
    content: "\e015";
}
.icon-graph-pie:before {
    content: "\e016";
}
.icon-graph-trend:before {
    content: "\e017";
}
.icon-home-1:before {
    content: "\e018";
}
.icon-magnifying-glass:before {
    content: "\e019";
}
.icon-loop:before {
    content: "\e01a";
}
.icon-male-symbol:before {
    content: "\e01b";
}
.icon-marker:before {
    content: "\e01c";
}
.icon-megaphone-1:before {
    content: "\e01d";
}
.icon-page-add:before {
    content: "\e01e";
}
.icon-page-remove:before {
    content: "\e01f";
}
.icon-page:before {
    content: "\e020";
}
.icon-page-copy:before {
    content: "\e021";
}
.icon-photo:before {
    content: "\e022";
}
.icon-power:before {
    content: "\e023";
}
.icon-print:before {
    content: "\e024";
}
.icon-results:before {
    content: "\e025";
}
.icon-results-demographics:before {
    content: "\e026";
}
.icon-skull:before {
    content: "\e027";
}
.icon-shield:before {
    content: "\e028";
}
.icon-save:before {
    content: "\e029";
}
.icon-zoom-in:before {
    content: "\e02a";
}
.icon-zoom-out:before {
    content: "\e02b";
}
.icon-wrench:before {
    content: "\e02c";
}
.icon-angle-double-down:before {
    content: "\e02d";
}
.icon-angle-double-left:before {
    content: "\e02e";
}
.icon-angle-double-right:before {
    content: "\e02f";
}
.icon-angle-double-up:before {
    content: "\e030";
}
.icon-angle-down:before {
    content: "\e031";
}
.icon-angle-left:before {
    content: "\e032";
}
.icon-angle-right:before {
    content: "\e033";
}
.icon-angle-up:before {
    content: "\e034";
}
.icon-barcode:before {
    content: "\e035";
}
.icon-caret-down-two:before {
    content: "\e037";
}
.icon-caret-left:before {
    content: "\e036";
}
.icon-caret-right:before {
    content: "\e038";
}
.icon-caret-up-two:before {
    content: "\e039";
}
.icon-caret-up-down:before {
    content: "\e03a";
}
.icon-chat-bubble-two:before {
    content: "\e03b";
}
.icon-check-mark-2:before {
    content: "\e03c";
}
.icon-check-mark:before {
    content: "\e03d";
}
.icon-chat-bubble:before {
    content: "\e03e";
}
.icon-check-mark-circle:before {
    content: "\e03f";
}
.icon-check-mark-circle-two:before {
    content: "\e040";
}
.icon-check-square:before {
    content: "\e041";
}
.icon-chevron-down-1:before {
    content: "\e042";
}
.icon-chevron-down-circle:before {
    content: "\e043";
}
.icon-chevron-left-1:before {
    content: "\e044";
}
.icon-chevron-right-1:before {
    content: "\e045";
}
.icon-chevron-up-1:before {
    content: "\e046";
}
.icon-chevron-up-circle:before {
    content: "\e047";
}
.icon-delete-circle:before {
    content: "\e048";
}
.icon-tachometer:before {
    content: "\e049";
}
.icon-star-half:before {
    content: "\e04a";
}
.icon-star-two:before {
    content: "\e04b";
}